NEXT_PUBLIC_GCASH_NUMBER=09559054871
NEXT_PUBLIC_GCASH_NAME=B*** T****

# Telegram username for order messages (without @)
NEXT_PUBLIC_TELEGRAM_USERNAME=PRINTSY_EXUL_BOT

# Printsy Client ID
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBnGbfMsvmWDxRCp6_Z6eOqY2y5DYxKFRk
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=printsy-13528.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=printsy-13528
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=printsy-13528.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=177550352295
NEXT_PUBLIC_FIREBASE_APP_ID=1:177550352295:web:488d22c4d90ecd8ad86082

# Supabase Connection
NEXT_PUBLIC_SUPABASE_URL=https://qmsozstygavqtzurutkj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_ddwRrSNLZUjll4bZTspLSw_RZlABhYr

